<mat-toolbar class="bg-transparent">
  <img src="../assets/images/schenck-logo.png">
</mat-toolbar>

<mat-card>
  <mat-card-title>
    Coach List
  </mat-card-title>

  <mat-card-content>
    <ng-container *ngIf="activeTeamMembers; else isLoading">
      <app-team-member-list [coachList]="coachList"></app-team-member-list>
    </ng-container>
    <ng-template #isLoading>
      <div class="center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>

</mat-card>
