<div class="list-header">
  <p>
    <mat-form-field>
      <mat-select placeholder="Filter by options" (valueChange)="setFilterPredicate($event)">
        <mat-option *ngFor="let option of filterOptions" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <mat-form-field *ngIf="filterBy == 0">
    <input matInput #filter (keyup)="customFilter()" placeholder="Filter by Last Name" [(ngModel)]="filterValue">
    <button *ngIf="filterValue" mat-icon-button color="warn" matTooltip="Clear Filter" matSuffix (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Enter a term to filter by</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="filterBy == 1">
    <input matInput #filter (keyup)="customFilter()" placeholder="Filter by Location" [(ngModel)]="filterValue">
    <button *ngIf="filterValue" mat-icon-button color="warn" matTooltip="Clear Filter" matSuffix (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Enter a term to filter by</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="filterBy == 2">
    <input matInput #filter (keyup)="customFilter()" placeholder="Filter by Business Unit" [(ngModel)]="filterValue">
    <button *ngIf="filterValue" mat-icon-button color="warn" matTooltip="Clear Filter" matSuffix (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Enter a term to filter by</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="filterBy == 3">
    <input matInput #filter (keyup)="customFilter()" placeholder="Filter by Coach Last Name" [(ngModel)]="filterValue">
    <button *ngIf="filterValue" mat-icon-button color="warn" matTooltip="Clear Filter" matSuffix (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Enter a term to filter by</mat-hint>
  </mat-form-field>
</div>

<button color="primary" mat-raised-button (click)="exportToCSV()">Export entire list to CSV</button>

<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let teamMember"> {{teamMember.LastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="FirstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
    <mat-cell *matCellDef="let teamMember"> {{teamMember.FirstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="JobCodeDescription">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let teamMember"> {{teamMember.JobCodeDescription}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="JobCategory">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Position Category </mat-header-cell>
    <mat-cell *matCellDef="let teamMember"> {{teamMember.JobCategory}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Location">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
    <mat-cell *matCellDef="let teamMember"> {{teamMember.Location}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="BusinessUnit">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Business Unit </mat-header-cell>
    <mat-cell *matCellDef="let teamMember"> {{teamMember.BusinessUnit}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="CoachLastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Coach </mat-header-cell>
    <mat-cell *matCellDef="let teamMember">
      <span *ngIf="teamMember.CoachLastName !== null">{{teamMember.CoachLastName}}, {{teamMember.CoachFirstName}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50, 100, 150]"
  showFirstLastButtons>
</mat-paginator>
